fastapi
uvicorn[standard]
mcp
pydantic
python-dotenv
playwright==1.*
fastapi-cors 
anthropic
requests
annotated-types
anyio
certifi
charset-normalizer
google-pasta
idna
opencv-python
opencv-python-headless
pydantic-core
rich
sniffio
starlette
typing-extensions
typing-inspection
urllib3
werkzeug
httpx
httpx_sse
pydantic-settings
sse-starlette
distro
fastapi-cli
Pillow
beautifulsoup4
lxml 